.container1{
    height: 100vh;
}
<<<<<<< HEAD
.wellcome{
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  font-size: 800;
  color: black;

  background-color: white;
}
.background{
  background-color: white;
  height: 100vh;
  width: 100%;
}
=======
<<<<<<< HEAD
.mesItem{
    margin: 2px;
    background-color: lightblue;
    border-radius: 10%;
=======

.loginPic{
    height: 500px;
    width: 100%;
    background-image: url(./loginPic.jpg);
    background-position: center;
    background-size: cover;
}
.loginBottom{
    width: 100%;
    height: 500px;
}
.loginFrame{
    text-align: center;
    margin-top: 50px ;
}
.red{
    color: lightcoral;
>>>>>>> mesOnItemPage
}
>>>>>>> master
